.heading {
  display: flex;
  justify-content: center;
}

* {
  background-color: azure;
}

.buttons {
  justify-content: center;

  display: flex;
}

#rockButton,
#paperButton,
#scissorsButton {
  margin: 10px;
}
